<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!DOCTYPE html>
<html>
<head>
    <title th:text="${configurations.get('websiteName')}+' | '+${pageName}">详情</title>
    <meta name="description" th:content="${configurations.get('websiteDescription')}">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" th:href="@{${configurations.get('websiteIcon')}}"/>
    <link rel="stylesheet" th:href="@{/blog/amaze/css/base.css}">
    <link rel="stylesheet" th:href="@{/blog/amaze/css/font-awesome.css}">
    <!-- highlight -->
    <link rel="stylesheet" th:href="@{/blog/amaze/highlight/styles/paraiso-light.css}">
    <style>
        .hljs {
            background: none;
        }
        pre code {
            white-space: pre;
        }

        blockquote {
            border-left: 4px solid #42b983;
            padding: 10px 0px 10px 15px;
            color: #777;
            background-color: rgba(66, 185, 131, .1);
            max-width: 890px;
        }
    </style>

</head>
<body>
<div th:replace="blog/amaze/header::nav-fragment"></div>
<header th:fragment="header-fragment" class="intro-header"
        th:style="'background-image:url(' + @{/blog/amaze/images/header2.jpg} + ');'">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading">
                    <h1 th:text="${blogDetailVO.blogTitle}"></h1>
                    <div class="meta">
                        <i class="fa fa-bookmark-o"></i>&nbsp;<span style="margin-right: 20px;" th:utext="${blogDetailVO.blogCategoryName}">「默认分类」</span>
                        <i class="fa fa-clock-o"></i>&nbsp;<span style="margin-right: 20px;" th:text="${#dates.format(blogDetailVO.createTime, 'yyyy-MM-dd')}">2020-01-01</span>
                        <!--<i class="fa fa-eye"></i>&nbsp;<span style="margin-right: 10px;" th:utext="${blogDetailVO.blogViews}">0</span>-->
                        <i class="fa fa-comment-o"></i>&nbsp;<span th:utext="${blogDetailVO.commentCount}">0</span>
                    </div>
                    <div class="tags post-tags">
                        <th:block th:each="tag : ${blogDetailVO.blogTags}">
                            <a class="tag" rel="tag" th:href="@{'/tag/' + ${tag}}">
                                <th:block th:text="${tag}"></th:block>
                            </a>&nbsp;
                        </th:block>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container">
    <div class="sidebar-header">
        <a class="main-header-title" th:href="@{/index}">
            <i class="fa fa-home"></i>主页 >
        </a>
        <a class="main-header-title" th:href="@{'/category/'+${blogDetailVO.blogCategoryName}}" th:text="${blogDetailVO.blogCategoryName} + ' >'"></a>
        <a class="main-header-title focus" href="" th:text="${blogDetailVO.blogTitle}"></a>
    </div>
    <div class="am-g am-g-fixed blog-fixed">
        <div class="am-u-lg-12 am-u-sm-12">
            <article class="am-article blog-article-p article-trigger">
                <div id="post-content" class="am-article-bd article-body">
                    <th:block th:utext="${blogDetailVO.blogContent}"/>
                    <!--<aside class="blog-rights clearfix">-->
                    <!--<p>本站文章除注明转载/出处外，皆为作者原创，欢迎转载，但未经作者同意必须保留此段声明，且在文章页面明显位置给出原文链接，否则保留追究法律责任的权利。</p>-->
                    <!--</aside>-->
                </div>
            </article>
            <hr>
        </div>
    </div>
    <aside class="comments" id="comments">
        <th:block th:if="${null != commentPageResult}">
            <th:block th:each="comment,iterStat : ${commentPageResult.list}">
                <article class="comment">
                    <header class="clearfix">
                        <img th:src="@{/blog/amaze/images/avatar.png}" class="avatar" draggable="false">
                        <div class="meta">
                            <b th:text="${comment.commentator}" style="margin-right: 20px"></b>
                            <i class="fa fa-clock-o">&nbsp;</i><span class="date" th:text="${#dates.format(comment.commentCreateTime, 'yyyy-MM-dd HH:mm')}"></span>
                        </div>
                    </header>
                    <div class="body">
                        <th:block th:text="${comment.commentBody}"></th:block>
                    </div>
                </article>
                <th:block th:unless="${#strings.isEmpty(comment.replyBody)}">
                    <article class="comment reply">
                        <header class="clearfix">
                            <img th:src="@{${configurations.get('yourAvatar')}}" style="float: left;border-radius: 100px;width: 50px;" draggable="false">
                            <div class="meta" style="margin-left: 68px">
                                <b th:text="${configurations.get('yourName')}" style="margin-right: 20px"></b>
                                <i class="fa fa-clock-o">&nbsp;</i><span class="date" th:text="${#dates.format(comment.replyCreateTime, 'yyyy-MM-dd HH:mm')}"></span>
                            </div>
                        </header>
                        <div class="body">
                            <th:block th:text="${comment.replyBody}"></th:block>
                        </div>
                    </article>
                </th:block>
            </th:block>
        </th:block>
        <th:block th:if="${null != commentPageResult}">
            <ul class="am-pagination" style="text-align: center">
                <li th:class="${commentPageResult.currPage==1}?'disabled' : ''"><a
                        th:href="@{${commentPageResult.currPage==1}?'##':'/blog/'+${blogDetailVO.blogId}+'?commentPage=' + ${commentPageResult.currPage-1}+'#comments'}">&laquo;</a>
                </li>
                <li th:if="${commentPageResult.currPage-3 >=1}"><a
                        th:href="@{'/blog/'+${blogDetailVO.blogId}+'?commentPage=' + ${commentPageResult.currPage-3}+'#comments'}"
                        th:text="${commentPageResult.currPage -3}">1</a></li>
                <li th:if="${commentPageResult.currPage-2 >=1}"><a
                        th:href="@{'/blog/'+${blogDetailVO.blogId}+'?commentPage=' + ${commentPageResult.currPage-2}+'#comments'}"
                        th:text="${commentPageResult.currPage -2}">1</a></li>
                <li th:if="${commentPageResult.currPage-1 >=1}"><a
                        th:href="@{'/blog/'+${blogDetailVO.blogId}+'?commentPage=' + ${commentPageResult.currPage-1}+'#comments'}"
                        th:text="${commentPageResult.currPage -1}">1</a></li>
                <li class="active"><a href="#" th:text="${commentPageResult.currPage}">1</a></li>
                <li th:if="${commentPageResult.currPage+1 <=commentPageResult.totalPage}"><a
                        th:href="@{'/blog/'+${blogDetailVO.blogId}+'?commentPage=' + ${commentPageResult.currPage+1}+'#comments'}"
                        th:text="${commentPageResult.currPage +1}">1</a></li>
                <li th:if="${commentPageResult.currPage+2 <=commentPageResult.totalPage}"><a
                        th:href="@{'/blog/'+${blogDetailVO.blogId}+'?commentPage=' + ${commentPageResult.currPage+2}+'#comments'}"
                        th:text="${commentPageResult.currPage +2}">1</a></li>
                <li th:if="${commentPageResult.currPage+3 <=commentPageResult.totalPage}"><a
                        th:href="@{'/blog/'+${blogDetailVO.blogId}+'?commentPage=' + ${commentPageResult.currPage+3}+'#comments'}"
                        th:text="${commentPageResult.currPage +3}">1</a></li>
                <li th:class="${commentPageResult.currPage==commentPageResult.totalPage}?'disabled' : ''"><a
                        th:href="@{${commentPageResult.currPage==commentPageResult.totalPage}?'##' : '/blog/'+${blogDetailVO.blogId}+'?commentPage=' + ${commentPageResult.currPage+1}+'#comments'}">&raquo;</a>
                </li>
            </ul>
        </th:block>
    </aside>
    <th:block th:if="${blogDetailVO.enableComment==0}">
        <aside class="create-comment" id="create-comment">
            <hr>
            <table id="commentForm" class="form">
                <tbody>
                <tr>
                    <td>
                        <input type="hidden" id="blogId" name="blogId" th:value="${blogDetailVO.blogId}"></input>
                        <input type="text" name="commentator" id="commentator" placeholder="名称">
                    </td>
                    <td>
                        <input type="email" name="email" id="email" placeholder="联系邮箱">
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input style="width:50%" type="text" name="verifyCode" id="verifyCode"
                               placeholder="验证码">&nbsp;&nbsp;
                        <img alt="刷新" class="pointer" style="border-radius: 25px;"
                             th:src="@{/common/kaptcha}"
                             onclick="this.src='/common/kaptcha?d='+new Date()*1">
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <textarea rows="5" name="commentBody" id="commentBody" placeholder="评论内容"></textarea>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" align="left">
                        <button id="commentSubmit" type="submit"
                                class="submit am-btn am-btn-primary">提交评论
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </aside>
    </th:block>
    <p class="back-top" id="back-top" style="display:none"><a href="#top"><span></span></a></p>
</div>
<footer th:replace="blog/amaze/footer::footer-fragment"></footer>
</body>
<script th:src="@{/blog/amaze/js/jquery.min.js}"></script>
<script th:src="@{/blog/amaze/highlight/highlight.pack.js}"></script>
<script th:src="@{/blog/amaze/comment/valid.js}"></script>
<script th:src="@{/blog/amaze/comment/comment.js}"></script>
<!-- sweetalert -->
<script th:src="@{/blog/amaze/sweetalert/sweetalert.min.js}"></script>
<script>
    $(function () {
        $("#back-top").hide();
        $(window).scroll(function () {
            if ($(this).scrollTop() > 300) {
                $('#back-top').fadeIn();
            } else {
                $('#back-top').fadeOut();
            }
        });
        // scroll body to 0px on click
        $('#back-top a').click(function () {
            $('body,html').animate({
                scrollTop: 0
            }, 800);
            return false;
        });

        $('pre code').each(function (i, block) {
            hljs.highlightBlock(block);
        });

        $('article h1, article h2, article h3, article h4, article h5').find('a').removeAttr('target')
    })
</script>
</html>
