<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="keyword-list-fragment" class="am-u-lg-8 am-u-sm-12">
    <main class="articles-list">
        <div>
            <div class="sidebar-header">
                <a class="main-header-title" th:href="@{/index}">
                    <i class="fa fa-home"></i>主页 >
                </a>
                <a class="main-header-title focus" href="" th:text="${pageName} + ' > ' + ${keyword}"></a>
            </div>
            <th:block th:if="${null != blogPageResult}">
                <th:block th:each="blog,iterStat : ${blogPageResult.list}">
                    <article th:replace="blog/amaze/article::article-fragment"></article>
                </th:block>
            </th:block>
            <th:block th:if="${null != blogPageResult}">
                <ul class="am-pagination">
                    <li th:class="${blogPageResult.currPage==1}?'disabled' : 'am-pagination-prev'"><a
                            th:href="@{${blogPageResult.currPage==1}?'##':'/'+${pageUrl}+'/'+${keyword}+'/' + ${blogPageResult.currPage-1}}">&laquo;</a>
                    </li>
                    <li th:if="${blogPageResult.currPage-3 >=1}"><a
                            th:href="@{'/'+${pageUrl}+'/'+${keyword}+'/' + ${blogPageResult.currPage-3}}"
                            th:text="${blogPageResult.currPage -3}">1</a></li>
                    <li th:if="${blogPageResult.currPage-2 >=1}"><a
                            th:href="@{'/'+${pageUrl}+'/'+${keyword}+'/' + ${blogPageResult.currPage-2}}"
                            th:text="${blogPageResult.currPage -2}">1</a></li>
                    <li th:if="${blogPageResult.currPage-1 >=1}"><a
                            th:href="@{'/'+${pageUrl}+'/'+${keyword}+'/' + ${blogPageResult.currPage-1}}"
                            th:text="${blogPageResult.currPage -1}">1</a></li>
                    <li class="active"><a href="#" th:text="${blogPageResult.currPage}">1</a></li>
                    <li th:if="${blogPageResult.currPage+1 <=blogPageResult.totalPage}"><a
                            th:href="@{'/'+${pageUrl}+'/'+${keyword}+'/' + ${blogPageResult.currPage+1}}"
                            th:text="${blogPageResult.currPage +1}">1</a></li>
                    <li th:if="${blogPageResult.currPage+2 <=blogPageResult.totalPage}"><a
                            th:href="@{'/'+${pageUrl}+'/'+${keyword}+'/' + ${blogPageResult.currPage+2}}"
                            th:text="${blogPageResult.currPage +2}">1</a></li>
                    <li th:if="${blogPageResult.currPage+3 <=blogPageResult.totalPage}"><a
                            th:href="@{'/'+${pageUrl}+'/'+${keyword}+'/' + ${blogPageResult.currPage+3}}"
                            th:text="${blogPageResult.currPage +3}">1</a></li>
                    <li th:class="${blogPageResult.currPage==blogPageResult.totalPage}?'disabled' : ''">
                        <a
                                th:href="@{${blogPageResult.currPage==blogPageResult.totalPage}?'##' : '/'+${pageUrl}+'/'+${keyword}+'/' + ${blogPageResult.currPage+1}}">&raquo;</a>
                    </li>
                </ul>
            </th:block>
        </div>
    </main>
</div>
</html>